<ion-header>
  <ion-toolbar color="primary">
    <center><ion-title>Login</ion-title></center>
  </ion-toolbar>
</ion-header>
<br>
<ion-img style="width: auto; height: 200px;" src="https://scontent.fubp1-1.fna.fbcdn.net/v/t1.15752-9/275306591_259737262893960_3233974776989127114_n.png?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=Ja6tJ0GoXoYAX_8Iw-H&_nc_ht=scontent.fubp1-1.fna&oh=03_AVJ-9NE10l87GiBoLkmznfn7vA0s9D3SfY6KLGgCp51kbw&oe=625316DE"></ion-img>
<br>
<ion-content class="ion-padding">
  <form class="form" [formGroup]="userForm" (ngSubmit)="signIn(userForm.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    
    <ng-container *ngFor="let error of error_msg.email">
      <div *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)">
        {{ error.message }}
      </div>
    </ng-container>

    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>
    
    <ng-container *ngFor="let error of error_msg.password">
        <div *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)">
          {{ error.message }}
        </div>
    </ng-container>

    <ion-button type="submit" expand="block" [disabled]="!userForm.valid">Signin</ion-button>
    
    <label class="ion-text-center" color="danger">{{errorMsg}}</label>
  </form>
  <p class="ion-text-center">Not registered yet ? <a (click)="goToSignup()">Register</a></p>
</ion-content>