<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="index"></ion-back-button>
    </ion-button>
    <ion-title>แก้ไขข้อมูล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">ชื่อ</ion-label>
    <ion-input [(ngModel)]="db_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">รหัสประจำตัว</ion-label>
    <ion-input [(ngModel)]="db_numid"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">กิจกรรม</ion-label>
    <ion-input [(ngModel)]="db_work"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">วันที่</ion-label>
    <ion-input [(ngModel)]="db_date"></ion-input>
  </ion-item>
  <ion-button expand="block" fitll="outline" (click)="edit()">
    edit
</ion-button>

</ion-content>
