<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="index"></ion-back-button>
    </ion-button>
    <ion-title>แก้ไขข้อมูล</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-img style="width: auto; height: 200px;" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/a9b2f152157575.59075366924b0.png"></ion-img>
<br>
<ion-content>
  <ion-item>
    <ion-label position="stacked">ลิงค์โปรไฟล์</ion-label>
    <ion-input [(ngModel)]="db_img"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">ชื่อ</ion-label>
    <ion-input [(ngModel)]="db_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">รหัสประจำตัว</ion-label>
    <ion-input [(ngModel)]="db_numid"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">กิจกรรม</ion-label>
    <ion-input [(ngModel)]="db_work"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">วันที่</ion-label>
    <ion-input [(ngModel)]="db_date"></ion-input>
  </ion-item>
  <ion-button expand="block" fitll="outline" (click)="edit()">
    edit
</ion-button>

</ion-content>
